.footer {
    background-color: transparent;
  padding: 1rem 0;
  color: #6c757d;
  border-top: 2px solid #e9ecef;
  margin-top: 0;
}


/* Add padding to the body to prevent content from being hidden behind footer */
body {
    padding-bottom: 50px; /* Adjust this value based on your footer height */
}
.footer p {
    font-size: 1rem;
    margin-bottom: 0;
    color: white;
    font-weight: 500;
}